RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteBase /~s1884908/fatfree/FFF-SimpleExample/
RewriteBase /~s1884908/fatfree/Signup/
RewriteRule .* index.php [L,QSA]
